body {
  background: #f9f9f9;
  font-family: 'Raleway', sans-serif;
}
.pull-left {
  float: left;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.topbar {
  background: #fff;
  border-bottom: 1px solid #FF6A6A;
  color: #FF6A6A;
  height: 52px;
  left: 0px;
  right: 0px;
  position: fixed;
  top: 0px;
  z-index: 9999;
}
.topbar .brand {
  font-size: 32px;
  line-height: 52px;
  margin-left: 20px;
}
.topbar .brand > a {
  text-decoration: none;
}
.topbar .alt_link_container {
  line-height: 52px;
  margin-left: 65%;
}
.topbar .alt_link_container a:nth-of-type(2) {
  margin-left: 30px;
}
.page_content {
  margin-top: 80px;
}
#map {
  border: 1px solid #FF6A6A;
  height: 250px;
  margin: auto auto 20px auto;
  width: 500px;
}
.page_header {
  border-bottom: 1px solid #ccc;
  color: #999;
  cursor: text;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  margin: auto;
  padding: 0 0 10px 0;
  text-align: center;
  width: 60%;
}
.page_header.location_title {
  margin-bottom: 20px;
}
.page_header.create_new_post_notice {
  margin-bottom: 30px;
}
.new_report_container {
  margin: auto auto 40px auto;
  width: 60%;
}
.new_report_form {
  width: 100%;
}
.new_report_form label {
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
}
.new_report_form input,
.new_report_form textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 22px;
  font-weight: 300;
  outline: none;
  padding: 10px 0px;
  width: calc(100%);
}
.new_report_form textarea {
  resize: none;
}
.new_report_form .description_container {
  width: 60%;
}
.new_report_form .location_container {
  margin-left: 4%;
  width: 36%;
}
.new_report_form .create_report_button {
  border: none;
  border-radius: 2px;
  background: #FF6A6A;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  margin-top: 12px;
  text-align: center;
  width: 77%;
}
.new_report_form .cancel_report_button {
  border: none;
  background: none;
  color: #FF6A6A;
  cursor: pointer;
  font-size: 18px;
  font-weight: 200;
  margin-left: 4%;
  margin-top: 31px;
  padding: 0px;
  width: 19%;
}
.new_report_form .cancel_report_button:hover {
  text-decoration: underline;
}
.report_list {
  margin: auto;
  width: 50%;
}
.report_list.new_reports {
  background: rgba(255, 106, 106, 0.1);
  border: 1px solid #FF6A6A;
  color: #FF6A6A;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  width: 50%;
}
.report_list.new_reports:hover {
  background: rgba(255, 106, 106, 0.3);
}
.report_list .no_reports_notice {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  color: #FF6A6A;
  opacity: 0.6;
  margin-top: 50px;
}
.report_container {
  background: #fff;
  box-shadow: 0px 2px 5px #ccc;
  color: #333;
  font-size: 22px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}
.report_container:last-of-type {
  margin-bottom: 0px;
}
.report_container .report_description {
  border-bottom: 1px solid #FF6A6A;
  font-weight: 300;
  min-height: 48px;
  padding: 15px 10px;
}
.report_container .report_meta_information {
  color: #999;
  font-size: 20px;
  font-style: italic;
  line-height: 42px;
  padding: 0px 10px;
}
.report_container .report_date {
  border-right: 1px solid #FF6A6A;
  font-weight: 200;
  padding: 5px 0px;
  width: calc(80% - 20px);
}
.report_container .report_location {
  font-weight: 400;
  text-align: center;
  padding: 5px 0px;
  width: 22.7%;
}
.report_container .report_location .fa {
  color: #FF6A6A;
  font-size: 16px;
}
.report_container .report_post_container {
  color: #FF6A6A;
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  right: 5px;
  top: 3px;
}
.report_container .report_post_container .fa {
  opacity: 0.7;
}
.report_container .report_post_container .tooltip_text {
  background: rgba(3, 3, 3, 0.8);
  border-radius: 10px;
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  top: -3px;
  right: -113px;
  width: 88px;
}
.report_container .report_post_container .tooltip_text::after {
  content: "";
  position: absolute;
  top: 31%;
  left: -4%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(3, 3, 3, 0.8) transparent transparent;
}
.report_container .report_post_container:hover .fa {
  opacity: 1;
}
.report_container .report_post_container:hover .tooltip_text {
  display: block;
}
.report_container.new_reports_available:first-of-type {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.loading_image {
  background: url(../static/resources/loading.gif) no-repeat center center;
  background-size: 32px;
  height: 32px;
  margin: 10px auto auto auto;
  width: 32px;
}
.about_description {
  color: #333;
  line-height: 1.5;
  margin: auto;
  width: 50%;
}
.about_description p.about_how_to {
  color: #FF6A6A;
}
@media only screen and (max-width: 767px) {
  .page_header {
    font-size: 32px;
    text-align: center;
    width: 100%;
  }
  .page_header.create_new_post_notice {
    margin-bottom: 20px;
  }
  .report_list {
    width: 90%;
  }
  #map {
    height: 175px;
    width: 350px;
  }
}
@media only screen and (max-width: 867px) {
  .topbar .alt_link_container {
    margin-left: 5% !important;
  }
  .topbar .alt_link_container a:nth-of-type(2) {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1100px) {
  .topbar .alt_link_container {
    margin-left: 55%;
  }
}
