<!DOCTYPE html>
<html lang="en" ng-app="ich8App">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="static/feed.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,200i,300,300i,400" rel="stylesheet">
      <title>text4change - About</title>
  </head>

  <body>
    <div class="topbar clearfix">
      <div class="brand pull-left">
        <a href="/" target="_self">
          text4change
        </a>
      </div>
      <div class="alt_link_container pull-left">
        <a href="/" target="_self">Home</a>
        <a href="/about" target="_self">About</a>
      </div>
    </div>
    <div class="page_content">
      <div class="page_header">
        About
      </div>
      <div class="about_description">
        <h3 class="about_heading">
          Goal:
        </h3>
        <p>
          Thanks for checking out text4change! Our goal is to become a centralized location for people to report hate in their communities when they see it.
        </p>
        <p>
          As we collect more and more reports, we'll be able to do some really cool things with the data.
        </p>
        <p>
          Initially, we want to make a heat map of the entire country showing us where there seems to be more acts of hate than we'd expect and where we should focus our time.
          This information can help guide the decisions we make in terms of how we take action and help us work together to make our communities safer for everyone.
        </p>
        <h3 class="about_heading">
          How it works:
        </h3>
        <p>
          <strong>Before reporting any incidents of hate to Text4Change, report it to your local law enforcement.</strong>
        </p>
        <ol>
          <li>
            To start, save this number in your phone: <strong class="about_note">1-(313)-246-8642</strong>
          </li>
          <li>
            Now, whenever you see someone committing an act of intimidation or hate, or you experience one - text us with a brief description of what happened. 
          </li>
          <li>
            Shortly after sending your first text, you'll receive a reply asking for your location. Be sure to include a 5-digit zip code somewhere in your response!
          </li>
          <li>
            Once completed, you'll receive a confirmation that your post was added to your local community feed successfully.
          </li>
        </ol>
        <p>
          <span class="disclaimer">Know that we will never reveal your identity or phone number to anybody! All posts are completely anonymous.</span>
        </p>
        <p>
          Thanks for embarking on this journey with us. Keep your eyes open and let's stop hate together!
        </p>
      </div>
    </div>
  </body>

</html>