<!DOCTYPE html>
<html lang="en" ng-app="ich8App">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="static/feed.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,200i,300,300i,400" rel="stylesheet">
      <title>ich8 Project - Feed</title>
  </head>

  <body>
    <div class="topbar clearfix">
      <div class="brand pull-left">
        <a href="/" target="_self">
          The ich8 Project
        </a>
      </div>
      <div class="alt_link_container pull-left">
        <a href="/" target="_self">Home</a>
        <a href="/about" target="_self">About</a>
      </div>
    </div>
    <div class="page_content">
      <div class="page_header">
        About
      </div>
      <div class="about_description">
        <p>
          Thanks for checking out the ich8 Project! Our goal is to become a centralized location for people to report hate in their communities when they see it.
        </p>
        <p>
          Eventually, we'll be able to use all the information that we collect to create a heat map of the entire country (or so we hope!). This information will 
          help guide the decisions we make in terms of how we take action and make sure that everyone in our country feels safe and feels just as American as 
          the rest of us!
        </p>
        <p class="about_how_to">
          Keep and eye out in your communities and, if you see someone committing or enduring an act of hate - text (415)-792-4248 with a description of the event!
          Shortly after, you'll receive a text asking for your location. Be sure to include a 5-digit zip code in your text somewhere, so we can add your report to 
          the local community feed.
        </p>
        <p>
          Thanks for embarking on this journey with us. Keep your eyes open and let's stop hate together!
        </p>
      </div>
    </div>
  </body>

</html>