<!DOCTYPE html>
<html lang="en" ng-app="ich8App">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      
      <link rel="icon" href="../../favicon.ico">
      <title>ich8 Project - Feed</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script src="../static/feed.js"></script>
  </head>

  <body ng-controller="FeedCtrl">
    <form>
      <input type="text" placeholder="Description" ng-model="report_content.description"/>
      <input type="text" placeholder="Location" ng-model="report_content.location"/>
      <button type="button" ng-click="createReport()">Post</button>
    </form>
    <div class="report_container" ng-repeat="report in reports track by $index">
      {{'{{report.description}}'}}
      {{'{{report.location}}'}}
    </div>
  </body>

</html>